h2{

    color: cyan;
    background-color: rgb(41, 19, 77);
}

span{

    color: white;
    background-color: red;
}

h3{

    color: red;
    background-color: rgb(245, 153, 217);
}

p{

    color: white;
    background-color: rgb(93, 95, 93);
}

