.clase1{

    color: white;
    background-color: rgb(73, 11, 73);
}

.clase2{

    color: white;
    background-color: darkgreen;
}


.clase3{
    color: white;
    background-color: darkorange;



}

.clase4{
    color: white;
    background-color:rgb(73, 11, 73) ;


}