.clase1{
    width: 200px;
    height: 200px;
    background-color: green;
        
}
.clase2{
    width: 200px;
    height: 200px;
    background-color:yellow;
        
}


.clase3{
    width: 200px;
    height: 200px;
    background-color:cyan;
        
}

.clase4{
    width: 200px;
    height: 200px;
    background-color:rgb(46, 3, 46);
        
}


