nav{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid black;   
    padding: 0;
    margin: 0;   
}



nav>div{
width: 130px;
height: 30px;
text-align: center;

position: relative;
padding: 5px;
}


a{
    text-decoration: none;
    color: black;    
}


ul{    
    
     position:absolute;          
     list-style: none;
     padding: 0;
     top:25px;
     border: 1px solid black;
     

     transform: scaleY(0); /*para no ocupar el display none*/
     transform-origin: top;/*de donde parte la transformacion*/
     transition: transform 0.3s;

       
}


li{
    text-align: left;
    width: 135px;  
    padding: 0;
    margin: 0;
        
}




nav>div:hover{
    background-color: rgb(204, 196, 196);
      
} 

ul>li:hover{

    background-color: rgb(231, 226, 226);
   
}

nav>div:hover>ul{
    transform: scaleY(1);
      
}






