.container{
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

.box{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
}


.container:hover >.box{
    background-color: red;
}

.container:active>.box{

    background-color: green;
}